{% extends "app/layout.html" %}

{% block content %}

<h2>ИС-Строй</h2>
<h3>Контакты</h3>

<article>
    <h2>Генеральный директор</h2>
    <p>Смирнов Евгений Николаевич</p>
    <p>Номер телефона: +8(900)934-23-24</p>
</article>
<article>
    <h2>Исполнитель</h2>
    <p>Киселёв Андрей Николаевич</p>
    <p>Номер телефона: +8(953)251-13-41</p>
</article>
<article>
    <h2>Сайт сделал</h2>
    <p>Киселёв Никита Андреевич</p>
    <p>Номер телефона: +8(900)992-33-85</p>
</article>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">SupportIS@mail.ru</a><br />
    <strong>По вопросам рекламы:</strong> <a href="mailto:Marketing@example.com">MarketingIS@mail.ru</a>
</address>

{% endblock %}
